/* на все сразу */
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

ul {
   list-style: none; 
}

:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
}

/* header */

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
}   

.logo-header-studio {
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.nav-link a {
    color: var(--primary-text-color);
}

.nav-address a {
    color: var(--title-text-color);
}


/* footer */

.logo-footer-studio {
    color: #F4F4FD;
    letter-spacing: 0.03em;
}

.title-footer {
    color: #F4F4FD;
}


/* main Web*/

/* hero */
.hero-title, .hero-button {
    color: #FFFFFF;
}

.hero-button {
    letter-spacing: 0.04em;
}

/* tactics */

.tactics-title {
    color: var(--primary-text-color)
}

.tactics-text {
    color: var(--title-text-color);
}

/* What are we doing */

.our-actions {
    color: var(--primary-text-color);
}

/* Our Team */

.team, .team-name {
    color: var(--primary-text-color);
}

.team-profession {
    color: var(--title-text-color);
}

/* main Portfolio */

.portfolio-button {
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    letter-spacing: 0.04em;
}

.portfolio-button:hover, .portfolio-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.img-name {
    color: var(--primary-text-color);
}

.img-desc {
    color: var(--title-text-color);
}