/* на все сразу */
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5; 
}

ul {
   list-style: none; 
}

:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
}

/* header */

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* text-decoration: none; */
    text-transform: uppercase
}   

.link {
    text-decoration: none;
}

.logo-header-studio {
    color: var(--primary-text-color);
}

.nav-link a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.nav-address a {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5; 
    text-decoration: none;
}


/* footer */

.logo-footer-studio {
    color: #F4F4FD;
}

.title-footer {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
}


/* main Web*/

/* hero */
.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1x;
    text-align: center;
}

.hero-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    /* background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  */
    
}

/* tactics */

.tactics-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* .tactics-text {
} */

/* What are we doing */

.our-actions {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

/* Our Team */
.team { 
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;  
}

.team-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* text-align: center; */
}

/* .team-profession {
} */

/* main Portfolio */

.portfolio-button {
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    letter-spacing: 0.04em;
}

.portfolio-button:hover, .portfolio-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.img-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* .img-desc {
} */